*,
*before,
*after {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

:root {
  --smooth: all 0.3s ease-in;
  --shadow: 0 7px 29px 0 rgba(59, 59, 62, 0.2);
}
html {
  scroll-behavior: smooth;
}


img {
  max-width: 100%;
  width: 100%;
}

/* === Header ===  */

header{
  background-color: #ffff;
  padding: 10px;
  box-shadow: var(--shadow);
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar__logo{
  display: flex;
  align-items: center;
}

.navbar__logo img{
  width: 120px;
}

.navbar__links {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  transition: var(--smooth);
}

.navbar__link {
  font-size: 1.125rem; /*18/16 =1.125*/
  margin: 55px;
  list-style: none;
}

.navbar__link a {
  color: #ffff;
  text-decoration: none;
  transition: var(--smooth);
  font-weight: bold;
}
@media (min-width: 62em) {
  .navbar__logo {
    margin-left: 270px;
  }
  .navbar__links {
    position: initial;
    transform: translateX(-15%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar__link {
    margin: 0 15px;
  }

  .navbar__link a {
    color: #4b4f51;
  }
  .navbar__link a:hover {
    color: var(--orange);
    box-shadow: var(--shadow);
  }
}

/* === Banner ===  */
@media (min-width: 62em) {
  #banner .container {
    display: flex;
    align-items: center;
  }
  .banner__img {
    width: 65%;
    margin: 40px auto;
    border-radius: 50px;
  }
}

   