body {
  margin: 0;
  padding: 0;
  background-color: rgb(160, 241, 160);
  box-sizing: border-box;
}

header {
  background-color: rgb(6, 151, 42);
  color: #fff;
  padding: 10px;
  text-align: center;
  
}
img {
  /*hình ảnh responsive và không bị bể*/
  max-width: 150px;
  border-radius: 35%;
  height: 180;
}

main {
  padding: 20px;
}

.about-me {
  display: justify;
  align-items: center;
  margin-bottom: 20px;
}

.about-me h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.about-me p {
  margin-bottom: 10px;
}

.skills h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills ul li {
  margin-bottom: 5px;
}

form{
  border-style: solid;
  border-color: rgb(210, 132, 23);
  padding: 10px;
  width: 400px;
  border-radius: 10%;
  margin-top: 10px;
}

form input, textarea, button{
  text-align: center;
  text-align: center;
  color: rgb(33, 33, 28);
  background-color: var(--gray);
  padding: 0.8rem 2.5rem; /*1rem = 16px*/
  border: solid 3px;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
  margin: 5px;
}
form textarea{
  margin-top: 10px;
}

/*abc